<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chris Hurrell</title>
    <link rel="stylesheet" href="personal.css">
</head>

<body>

        <H1>About Me</H1>


        <p>Hi, I'm Chris! I'm a aspiaring software engineer with a passion for technology and innovation. I love puzzels, and trying to break "no's" into possibilites.</p>
        <p>What do i do when im not getting paid? currently my time is spent learning this and building on my knowledge around the endless abyss that is the technology world.</p>
        <p>When I'm not behind the screen my family keeps me pretty busy, im blessed to have a wife and three children all who love long walks amoungst the great outdoors.</p>
    




</body>
<footer>
    <p class="footer-text">© 2025 Chris Hurrell</p>
    <p class="footer-text">All rights reserved.</p>
    <p class="footer-text">Contact: <a class="email" href="mailto:cjhurrell@gmail.com"> cjhurrell@gmail.com</p>
</footer>


</html>