<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chris Hurrell</title>
    <link rel="stylesheet" href="personal.css">
</head>

<body>

    <header>
    
    <div class="nav-bar" id="nav-bar">
        ☰
        </div>
        <nav class="nav-options" id="nav-options">
            <ul>
                <div class="close-btn" id="close-btn">✕</div>
        <li><a href="index.html">Home</a></li>
        <li><a href="projects.html">Projects</a><li>
        <li><a href="survey.html">Survey</a><li>
        <li><a href="goals.html">Current goals</a><li>
        <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>

</header>


    <div class="wrapper">
    <main class="content">

   

        <H1>About Me</H1>


        <p>Hi, I'm Chris! I'm a aspiaring software engineer with a passion for technology and innovation. I love puzzels, and trying to break "no's" into possibilites.</p>
        <p>What do i do when im not getting paid? currently my time is spent learning this and building on my knowledge around the endless abyss that is the technology world.</p>
        <p>When I'm not behind the screen my family keeps me pretty busy, im blessed to have a wife and three children all who love long walks amoungst the great outdoors.</p>
    


<script src="script.js"></script>
</main>
</div>
</body>
<footer class="footer">
    <p class="footer-text">© 2025 Chris Hurrell</p>
    <a href="https://www.linkedin.com/in/christopher-hurrell-165a081b9?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3By1HMTXm8TWe%2BjvkW4qA%2BLQ%3D%3D"><img src="linked-in-pic.png" class="social"></a><a href="https://x.com/cjhurrell0"><img src="X_logo.jpg" class="social"></a><a href="mailto:cjhurrell0@gmail.com"><img src="g-mail2.webp" class="social"></a>
</footer>


</html>